/* Import Google Font Manrope */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

body {
  background: url('./images/mesh-551.png') no-repeat center center scroll;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: flex-end; /* Distribute space between items */
  align-items: right;
  padding: 20px;
  margin-left: auto;
  margin-right: 30px;
}

header img {
  width: 30px;
  height: 30px;
  opacity: 60%;
  margin-left: 20px;
}

header img:hover {
  width: 30px;
  height: 30px;
  opacity: 100%;
  margin-left: 20px;
}

/* header h2:hover {
  opacity: 100%;
} */

/* Define styles for h1 elements */
h1 {
  font-weight: 600;
  font-size: 32pt;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
  font-weight: 600;
  font-size: 16pt;
  color: #ffffff;
  opacity: 60%;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Define styles for h1 elements */
h3 {
  font-weight: 600;
  font-size: 20pt;
  color: #fff;
  text-align: center;
}

h4 {
  font-weight: 600;
  font-size: 16pt;
  color: #ffffff;
  opacity: 60%;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Define styles for p elements */
p {
  font-weight: 500;
  font-size: 16pt;
  color: #ddd;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: center;
}

.mic-toggle {
  margin-top: 3rem;
  position: relative;
  display: block;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.103);
  margin-bottom: 4rem;
}

/* PULSING */
.mic-toggle:after,
.mic-toggle:before {
  --pad: 0rem;
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  background-color: rgba(210, 135, 154, 0.079);
  top: var(--pad);
  left: var(--pad);
  right: var(--pad);
  bottom: var(--pad);
  border-radius: 50%;
}

.mic-toggle:after {
  transition: 0.4s;
}

.mic-toggle:before {
  transition: 0.2s;
}

.mic-toggle:hover:before {
  --pad: -1rem;
}

.mic-toggle:hover:after {
  --pad: -2rem;
}

.mic-toggle span {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 8.5rem;
  padding: 1rem;
}

.mic-toggle.is-recording:after {
  animation: smoothPadAfter 0.6s ease-in alternate-reverse forwards infinite;
}

.mic-toggle.is-recording:before {
  animation: smoothPadBefore 0.6s ease-in alternate-reverse forwards infinite;
}

@keyframes smoothPadAfter {
  0% {
    top: -2rem;
    left: -2rem;
    right: -2rem;
    bottom: -2rem;
  }
  100% {
    top: -1rem;
    left: -1rem;
    right: -1rem;
    bottom: -1rem;
  }
}

@keyframes smoothPadBefore {
  0% {
    top: -1rem;
    left: -1rem;
    right: -1rem;
    bottom: -1rem;
  }
  100% {
    top: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
  }
}

.controls-container {
  display: flex;
  align-items: center;
  gap: 1rem; /* Space between the elements */
}

.playback {
  box-shadow: 0px 0px 1rem rgba(16, 5, 5, 0.567);
  border-radius: 999px;
}

.search-button {
  padding: 0.5rem 1rem;
  background-color: #641131;
  color: white;
  font-size: 12pt;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #76325d;
}

.is-hidden {
  display: none;
}

.track-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

.track-info img {
  width: 400px; /* Smaller album image */
  height: auto;
  border-radius: 15px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.track-info audio {
  align-items: center;
  margin-top: 1rem;
}

.back-button {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
  font-size: 30pt; /* Font size */
  font-weight: 900;
  cursor: pointer; /* Pointer cursor */
  margin-bottom: 1rem; /* Bottom margin */
  padding: 10px; /* Add some padding */
  position: absolute;
  top: 100px;
  left: 70px;
  border-radius: 5px; /* Optional: Add rounded corners */
  transition:
    color 0.3s ease,
    background-color 0.3s ease; /* Smooth transition for color and background color */
}

.l-arrow {
  width: 30px;
  height: 30px;
}

.back-button:hover {
  opacity: 0.6;
}
.songs-gallery {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem; /* Even spacing between items */
  margin: 0 10rem; /* Even margin around the gallery */
}

.songs-header {
  font-weight: 500;
  font-size: 16pt;
  color: #fff;
  text-align: left;
  margin-left: 10rem;
  margin-bottom: 1rem;
}

.song-bubble {
  background-color: rgba(210, 135, 154, 0.079);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the text horizontally */
}

.song-bubble p {
  font-size: 12pt;
  margin: 0; /* Remove default margin */
}

.songs-gallery::after {
  content: '';
  flex-basis: 100%;
  height: 1rem; /* Height of the bottom margin */
}
